<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="frog-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `frog-component`
     * A funny frog-component made in Polymer
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FrogComponent extends Polymer.Element {
      static get is() { return 'frog-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'frog-component'
          }
        };
      }
    }

    window.customElements.define(FrogComponent.is, FrogComponent);
  </script>
</dom-module>
