<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/elements/dom-if.html">

<dom-module id="frog-component">
  <template>
    <style>
      :host {
        display: block;
      }
      :host .frog-controls{
        margin-bottom:15px;
        height: 30px;
        width: 40%;
        padding: 0;
        display: flex;
      }
      :host .frog-container{
        width: 100%;
        height: 30px;
        background: white;
        padding:0;
      }
      :host .frog-container .frog-cell{
        display: inline-block;
        width: calc(95%/5);
        border: 1px solid black;
        height: 100%;
        margin:0 auto;
      } 
      .active{
        text-align: center;
        background: black;
        color: white;
      }
      :host .frog-controls input{
        flex: 1;
        border-radius: 0;
        width: 150px;
      }
      :host .frog-controls button{
        flex: 1;
        border-radius: 0;
        padding: 10px;
      }
    </style>

    <div class="frog-controls">
      <input type="number" value="{{times::input}}" placeholder="Should I jump?..." min="0" /><button on-click="jump">Jump!</button>
    </div>
    <div class="frog-container">
        <dom-repeat items="{{frogCells}}" mutable-data>
          <template>

              <template is="dom-if" if="{{checkFrog(item.position)}}">
                  <div class="frog-cell active">Frog</div>
              </template>
              <template is="dom-if" if="{{!checkFrog(item.position)}}">
                  <div class="frog-cell">{{item.position}}</div>
              </template>

          </template>
      </dom-repeat>
    </div>


  </template>

  <script>
    class FrogComponent extends Polymer.Element {
      static get is() { return 'frog-component'; }
      static get properties() {
        return {
          currentPosition:{
            type: String,
            value: 1,
            notify: true
          },
          times:{
            type: Number,
            value: null,
            notify: true
          },
          frogCells: {
            type: Object,
            notify: true,
            readOnly: false,
            value: [
              {
                position:1,
                active:true
              },
              {
                position:2,
                active:false
              },
              {
                position:3,
                active:false
              },
              {
                position:4,
                active:false
              },
              {
                position:5,
                active:false
              },
            ]
          }
        };
      }
      _handlePositionChange(n){
        this.set("currentPosition",this.currentPosition+n);
      }
      searchFrog(input){
        return function(item){
          return 1 === 1
        }
      }
      jump(){
        let totalCells = this.frogCells.length;
        let jumpTimes = (+this.times>totalCells ? this.times-totalCells : +this.times);
        let position = (+this.currentPosition);
        let jumpTo = (position+jumpTimes>totalCells ? ( (position+jumpTimes) - totalCells ) : position+jumpTimes%5 );

        console.log(`The frog jumped from ${position} to ${jumpTo}. Lap? ${position+jumpTimes>totalCells ? "Yes" : "No"}.`);
        
        this.set("currentPosition",jumpTo)
        this.frogCells = this.frogCells.slice();

      }
      checkFrog(position){
        return position===this.currentPosition;
      }
    }

    window.customElements.define(FrogComponent.is, FrogComponent);
  </script>
</dom-module>
